
body {
    background-image: url("bckGrnd.jpg");
    height: 95%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    display: block;
    margin-top: -20px;
    font-family: "Monument Extended"
   }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 53, 106);
    color: black;
    text-align: center;
 }
   b, strong {
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.pageHeader {
    background-image: url(../Web/bckGrnd.jpg);
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: block;
    margin-top: -20px;
}
.pageHeader .headerText {
    width: 100%;
    height: 50%;
    text-align: center;
}
.headerText {
    padding-bottom: 250px;
}
.pageHeader .headerText h1 {
    padding-top: 14%;
    font-family: "Lato", sans-serif;
    font-size: 90px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.navBar {
    position: sticky;
    text-align: center;
    padding: 15px;
}
   .topNav {
    position: sticky;
    text-align: center;
    padding: 50px;
   }
   .nav-blue{
    position: sticky;
    text-align: center;
    padding: 15px;
    background-color: rgb(0, 53, 106);
   }
   .navBar a h2 {
    padding-top: 50px;
    position: sticky;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    display: inline;
    padding: 10px;
    color: #b3b3b3;
}

.ProjButton {
	background-color:rgba(11, 46, 116, 0.7);
    color:#ffffff;
    border-radius: 15px;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
}
.ProjButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.ProjButton:active {
	position:relative;
	top:1px;
}

   .info {
    text-align: center;
    padding: 50px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.658);
   }
   .experience {
    text-align: center;
    padding: 50px;
    color: rgb(0, 0, 0);
    background-color: rgba(91, 109, 145, 0.651);
   }
   .experinceProgramming {
    text-align: center;
    padding: 50px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.658);
    height: 100%;
   }
  .experinceProgramming a p2{
      padding-left: 20px;
  }